body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-style: solid ;
    padding: 4px;
    background-color: rgb(12, 5, 100);
    border-color: rgb(0, 4, 15);
    border-radius: 6px;
}

.keys{
    display: flex;
    padding: 2px;
}

.opKeys {
    display: flex;
    flex-direction: column;

}

.digKeys{
    display: flex;
    flex-direction: column-reverse;
}

.expresion{
    text-align: right;
    font-size: medium;
    justify-self: end;
    align-self: flex-end;
    background-color:  rgb(206, 202, 202);
    font-family: sans-serif;
    width: 185px;
    height: 30px;
}

.disp{
    display: flex;
    flex-direction: column;
    width: 185px;
    height: 30px;
    border-style: solid;
    padding: 10px;
    border-width: 1px;
    background-color: rgb(204, 204, 204);
    border-radius: 2px;
    border-color: rgb(0, 8, 32);
}


button{
    width: 50px;
    height: 50px;
    border-radius: 0px;
    background-color: coral;
    font-family: sans-serif;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    border-radius: 2px;
    border-color: rgb(0, 5, 20);
}

