body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keys{
    display: flex;
}

.opKeys {
    display: flex;
    flex-direction: column;
}

.digKeys{
    display: flex;
    flex-direction: column-reverse;
}

.expresion{
    text-align: right;
    font-size: medium;
    justify-self: end;
}

.display{
    display: flex;
    flex-direction: column;
}
